* {
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
}

.slider {
  margin: 20px;
  width: 400px;
  height: 160px;
  border-radius: 100px;
  overflow: hidden;
  position: relative;
}

.slider::before {
  content: '';
  position: absolute;
  width: 400px;
  height: 160px;
  box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
  border-radius: 100px;
  z-index: 1;
}

.slider__background {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
  background-color: #2877b7;
  transition: 0.5s;
}

#checkbox:checked~.slider__background {
  background-color: rgb(28, 31, 44);
}

.slider__background__gradient {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -10;
}

.slider__background__clouds {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -30;
  transition: 0.5s;
}

#checkbox:checked~.slider__background .slider__background__clouds {
  transform: translateY(100%);
}

.slider__background__stars {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -100%;
  left: 0;
  z-index: -30;
  transition: 0.5s;
}

#checkbox:checked~.slider__background .slider__background__stars {
  transform: translateY(100%);
}

.slider__background__stars-star::after {
  color: #ffffff;
  position: absolute;
  content: '✦';
}

/* stars */

.star-1::after {
  top: 10px;
  left: 70px;
  font-size: 25px;
}

.star-2::after {
  top: 45px;
  left: 35px;
  font-size: 12px;
}

.star-3::after {
  top: 60px;
  left: 80px;
  font-size: 12px;
}

.star-4::after {
  top: 105px;
  left: 50px;
  font-size: 9px;
}

.star-5::after {
  top: 120px;
  left: 40px;
  font-size: 8px;
}

.star-6::after {
  top: 125px;
  left: 90px;
  font-size: 7px;
}

.star-7::after {
  top: 40px;
  left: 160px;
  font-size: 10px;
}

.star-8::after {
  top: 70px;
  left: 145px;
  font-size: 7px;
}

.star-9::after {
  top: 100px;
  left: 165px;
  font-size: 17px;
}

.star-10::after {
  top: 80px;
  left: 205px;
  font-size: 12px;
}

.star-11::after {
  top: 30px;
  left: 215px;
  font-size: 27px;
}

/* */

.slider__background__gradient-layer {
  position: absolute;
  height: 100%;
  transition: 0.5s;
}

.layer-1 {
  width: 210px;
  z-index: -10;
  background-color: rgba(255, 255, 255, 0.2);
  left: 0;
  border-radius: 160px 45% 45% 160px / 160px 160px 160px 160px;
}

#checkbox:checked~.slider__background .layer-1 {
  border-radius: 45% 160px 160px 45% / 160px 160px 160px 160px;
  transform: translateX(90%);
}

.layer-2 {
  width: 260px;
  z-index: -11;
  background-color: rgba(255, 255, 255, 0.15);
  left: 0;
  border-radius: 160px 34% 34% 160px / 160px 160px 160px 160px;
}

#checkbox:checked~.slider__background .layer-2 {
  border-radius: 34% 160px 160px 34% / 160px 160px 160px 160px;
  transform: translateX(54%);
}

.layer-3 {
  width: 310px;
  z-index: -12;
  background-color: rgba(255, 255, 255, 0.1);
  left: 0;
  border-radius: 160px 23% 23% 160px / 160px 160px 160px 160px;
}

#checkbox:checked~.slider__background .layer-3 {
  border-radius: 23% 160px 160px 23% / 160px 160px 160px 160px;
  transform: translateX(29%);
}

.slider__background__clouds-cloud {
  width: 100%;
  height: 100%;
}

.cloud-1 {
  z-index: -30;
  position: relative;
}

.cloud-2 {
  z-index: -20;
  position: absolute;
  top: 0;
}

.cloud-1__circle,
.cloud-2__circle {
  border-radius: 50%;
}

.cloud-1__circle {
  background-color: rgb(166, 198, 226);
  z-index: -31;
  position: absolute;
}

.cloud-2__circle {
  background-color: rgb(242, 250, 254);
  position: absolute;
  z-index: -21;
}

/* cloud 1 */

.circle-1 {
  width: 130px;
  height: 100px;
  bottom: -50px;
  left: 20px;
}

.circle-2 {
  width: 100px;
  height: 80px;
  bottom: -20px;
  left: 80px;
}

.circle-3 {
  width: 100px;
  height: 100px;
  bottom: -20px;
  left: 150px;
}

.circle-4 {
  width: 30px;
  height: 30px;
  bottom: 40px;
  left: 230px;
}

.circle-5 {
  width: 110px;
  height: 90px;
  bottom: 5px;
  left: 245px;
}

.circle-6 {
  width: 80px;
  height: 70px;
  bottom: 40px;
  left: 300px;
}

.circle-7 {
  width: 110px;
  height: 110px;
  top: -5px;
  right: -45px;
}

/*cloud 2 */

.circle-8 {
  width: 130px;
  height: 100px;
  bottom: -75px;
  left: 20px;
}

.circle-9 {
  width: 100px;
  height: 80px;
  bottom: -45px;
  left: 80px;
}

.circle-10 {
  width: 110px;
  height: 100px;
  bottom: -55px;
  left: 150px;
}

.circle-11 {
  width: 50px;
  height: 50px;
  bottom: -15px;
  left: 230px;
}

.circle-12 {
  width: 100px;
  height: 80px;
  bottom: -30px;
  left: 250px;
}

.circle-13 {
  width: 100px;
  height: 90px;
  bottom: -5px;
  left: 315px;
}

.circle-14 {
  width: 110px;
  height: 110px;
  top: 25px;
  right: -60px;
}

#checkbox {
  display: none;
}

.slider__circle {
  width: 130px;
  height: 130px;
  position: absolute;
  top: 15px;
  border-radius: 50%;
  z-index: 5;
  cursor: pointer;
  box-shadow: inset 2px 2px 5px 2px rgba(255, 255, 255, 0.7), inset -2px -2px 5px 2px rgba(0, 0, 0, 0.3);

  left: 15px;
  background-color: rgb(242, 196, 41);
  transition: 0.5s;
}

#checkbox:checked+.slider__circle {
  right: 15px;
  background-color: rgb(195, 201, 208);
  transform: translateX(180%);
}

.slider__circle-crater {
  position: absolute;
  background-color: rgb(148, 158, 179);
  box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  opacity: 0;
  transition: 0.3s;
}

#checkbox:checked+.slider__circle .slider__circle-crater {
  opacity: 1;
}

.crater-1 {
  width: 45px;
  height: 45px;
  top: 50px;
  left: 20px;
}

.crater-2 {
  width: 23px;
  height: 23px;
  top: 20px;
  left: 55px;
}

.crater-3 {
  width: 25px;
  height: 25px;
  top: 75px;
  left: 80px;
}